API_ID=
API_HASH=
BOT_TOKEN=
MONGO_DB=
OWNER_ID=
LOG_GROUP=
FORCE_SUB=

DB_NAME=telegram_downloader
STRING=
MASTER_KEY=gK8HzLfT9QpViJcYeB5wRa3DmN7P2xUq
IV_KEY=s7Yx5CpVmE3F
JOIN_LINK=https://t.me/team_spy_pro
ADMIN_CONTACT=https://t.me/username_of_admin
FREEMIUM_LIMIT=10000
PREMIUM_LIMIT=10000
YT_COOKIES=
INSTA_COOKIES=

AUTO_FORWARD_ENABLED=False
AUTO_FORWARD_SOURCE=
AUTO_FORWARD_DESTINATION=
AUTO_FORWARD_PAIRS=
AUTO_FORWARD_MODE=copy
AUTO_FORWARD_DELAY=0
AUTO_FORWARD_SCHEDULE=always
AUTO_FORWARD_TYPES=all
